[submodule "vendor/Alamofire"]
	path = vendor/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "vendor/SwiftyJSON"]
	path = vendor/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
