<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GITCurrentBranchCommitCount</key>
	<string>0</string>
	<key>GITCurrentBranchName</key>
	<string>master</string>
	<key>GITLastCommitLog</key>
	<string>0c561f0 - Flowinho, 27 minutes ago : Pull update from master repo</string>
	<key>GITMasterCommitCount</key>
	<string>112</string>
	<key>GITRevisionHash</key>
	<string>0c561f00b272af5fd94038df87a8eab5e7a98cf2</string>
	<key>GITVersionTag</key>
	<string>0.1</string>
</dict>
</plist>
